# Server Configuration
PORT=backend_port_number
# Database Configuration (with Docker)
DATABASE_URL=postgresql://postgres:your_password_here@localhost:5432/librarydb?schema=public
# JWT Configuration
JWT_SECRET=replace_with_a_secure_random_string
JWT_EXPIRES_IN=1d
# Default Admin User Configuration
DEFAULT_ADMIN_NAME=System Admin
DEFAULT_ADMIN_EMAIL=admin@finance.local
DEFAULT_ADMIN_PASSWORD=admin12345